:root {
  /* COLOR */
  --background-accent: rgb(48, 245, 210);
  --background-accent-disabled: rgba(133, 48, 245, 0.24);
  --background-accent-faded: rgb(233, 226, 253);
  --background-accent-faded-disabled: rgba(233, 226, 253, 0.24);
  --background-accent-faded-hovered: rgb(211, 197, 252);
  --background-accent-faded-pressed: rgb(170, 134, 250);
  --background-accent-faded-selected: rgb(211, 197, 252);
  --background-accent-hovered: rgb(107, 22, 205);
  --background-accent-pressed: rgb(74, 12, 145);
  --background-accent-selected: rgb(107, 22, 205);
  --background-base: rgb(255, 255, 255);
  --background-base-disabled: rgb(249, 249, 249);
  --background-base-faded: rgb(249, 249, 249);
  --background-base-faded-disabled: rgb(249, 249, 249);
  --background-base-faded-hovered: rgb(231, 230, 232);
  --background-base-faded-pressed: rgb(205, 203, 207);
  --background-base-faded-selected: rgb(231, 230, 232);
  --background-base-hovered: rgb(249, 249, 249);
  --background-base-muted: rgb(231, 230, 232);
  --background-base-muted-disabled: rgb(249, 249, 249);
  --background-base-muted-hovered: rgb(205, 203, 207);
  --background-base-muted-pressed: rgb(157, 153, 161);
  --background-base-muted-selected: rgb(205, 203, 207);
  --background-base-pressed: rgb(231, 230, 232);
  --background-base-selected: rgb(249, 249, 249);
  --background-critical: rgb(210, 0, 3);
  --background-critical-disabled: rgba(210, 0, 3, 0.24);
  --background-critical-faded: rgb(253, 223, 223);
  --background-critical-faded-disabled: rgba(253, 223, 223, 0.24);
  --background-critical-faded-hovered: rgb(252, 188, 188);
  --background-critical-faded-pressed: rgb(248, 111, 111);
  --background-critical-faded-selected: rgb(252, 188, 188);
  --background-critical-hovered: rgb(166, 0, 7);
  --background-critical-pressed: rgb(116, 0, 11);
  --background-critical-selected: rgb(166, 0, 7);
  --background-elevated-1: rgb(255, 255, 255);
  --background-elevated-2: rgb(255, 255, 255);
  --background-elevated-3: rgb(255, 255, 255);
  --background-elevated-4: rgb(255, 255, 255);
  --background-highlight: rgb(201, 20, 93);
  --background-highlight-disabled: rgba(201, 20, 93, 0.24);
  --background-highlight-faded: rgb(255, 223, 229);
  --background-highlight-faded-disabled: rgba(255, 223, 229, 0.24);
  --background-highlight-faded-hovered: rgb(255, 186, 200);
  --background-highlight-faded-pressed: rgb(255, 100, 143);
  --background-highlight-faded-selected: rgb(255, 186, 200);
  --background-highlight-hovered: rgb(154, 25, 75);
  --background-highlight-pressed: rgb(103, 23, 55);
  --background-highlight-selected: rgb(154, 25, 75);
  --background-inverse: rgb(38, 30, 47);
  --background-inverse-disabled: rgba(38, 30, 47, 0.24);
  --background-inverse-faded: rgb(231, 230, 232);
  --background-inverse-faded-disabled: rgba(231, 230, 232, 0.24);
  --background-inverse-faded-hovered: rgb(205, 203, 207);
  --background-inverse-faded-pressed: rgb(157, 153, 161);
  --background-inverse-faded-selected: rgb(205, 203, 207);
  --background-inverse-hovered: rgb(59, 51, 67);
  --background-inverse-pressed: rgb(84, 78, 91);
  --background-inverse-selected: rgb(84, 78, 91);
  --background-positive: rgb(11, 118, 90);
  --background-positive-disabled: rgba(11, 118, 90, 0.24);
  --background-positive-faded: rgb(157, 248, 217);
  --background-positive-faded-disabled: rgba(157, 248, 217, 0.24);
  --background-positive-faded-hovered: rgb(12, 232, 159);
  --background-positive-faded-pressed: rgb(11, 175, 125);
  --background-positive-faded-selected: rgb(12, 232, 159);
  --background-positive-hovered: rgb(11, 91, 75);
  --background-positive-pressed: rgb(11, 61, 57);
  --background-positive-selected: rgb(11, 91, 75);
  --background-warning: rgb(255, 195, 48);
  --background-warning-faded: rgb(255, 228, 168);
  --content-accent: rgb(133, 48, 245);
  --content-accent-disabled: rgba(133, 48, 245, 0.4);
  --content-accent-icon: rgb(155, 106, 248);
  --content-critical: rgb(210, 0, 3);
  --content-critical-disabled: rgba(210, 0, 3, 0.4);
  --content-critical-icon: rgb(246, 68, 68);
  --content-faded: rgb(107, 101, 114);
  --content-faded-disabled: rgba(107, 101, 114, 0.4);
  --content-highlight: rgb(201, 20, 93);
  --content-highlight-disabled: rgba(201, 20, 93, 0.4);
  --content-highlight-icon: rgb(255, 41, 119);
  --content-icon: rgb(138, 133, 143);
  --content-inverse: rgb(249, 249, 249);
  --content-inverse-disabled: rgba(249, 249, 249, 0.4);
  --content-inverse-faded: rgb(157, 153, 161);
  --content-inverse-faded-disabled: rgba(157, 153, 161, 0.4);
  --content-neutral: rgb(38, 30, 47);
  --content-neutral-disabled: rgba(38, 30, 47, 0.4);
  --content-on-bg-accent: rgb(251, 249, 254);
  --content-on-bg-accent-faded: rgb(107, 22, 205);
  --content-on-bg-critical: rgb(255, 249, 249);
  --content-on-bg-critical-faded: rgb(166, 0, 7);
  --content-on-bg-highlight: rgb(255, 249, 250);
  --content-on-bg-highlight-faded: rgb(154, 25, 75);
  --content-on-bg-neutral: rgb(249, 249, 249);
  --content-on-bg-neutral-disabled: rgba(249, 249, 249, 0.4);
  --content-on-bg-neutral-faded: rgb(84, 78, 91);
  --content-on-bg-neutral-faded-disabled: rgba(84, 78, 91, 0.4);
  --content-on-bg-positive: rgb(238, 254, 248);
  --content-on-bg-positive-faded: rgb(11, 91, 75);
  --content-on-bg-warning: rgb(255, 249, 238);
  --content-on-bg-warning-faded: rgb(129, 62, 0);
  --content-positive: rgb(11, 118, 90);
  --content-positive-disabled: rgba(11, 118, 90, 0.4);
  --content-positive-icon: rgb(11, 153, 112);
  --content-warning: rgb(157, 85, 4);
  --content-warning-disabled: rgba(157, 85, 4, 0.4);
  --content-warning-icon: rgb(194, 116, 41);
}
